@font-face{
    font-family: America;
    src: url(../fonts/America-Regular.otf);
}

body{
    margin: 0;
    font-family: Poppins;
    background: white;
}

header{
    padding: 10px 20px;
    display: flex;

    height: 55px;
    justify-content: space-between;
    align-items: center;

    background: rgb(0, 0, 0);
}

h1{
    margin: 0;
}

.nomPrenom{
    font-family: America;
    font-size: 30px;

    color: white;
}

.burgerAbsolu{
    position: fixed;

    right: 10px;
    top: 10px;

    height: 50px;
    width: 50px;

    border-radius: 50%;
    background: black;

    z-index: 60;
}

.barreBurger{
    position: absolute;

    width: 30px;
    height: 5px;

    background: white;

    border-radius: 25px;

    transition: 0.3s;
}

.b1{
    top: 13px;
    left: 10px;
}

.b1croix{
    transform: rotate(45deg);
    top: 22.5px;
    left: 8px;
    width: 35px;
}

.b2{
    top: 22.5px;
    left: 10px;
}

.b2croix{
    width: 0;
    left: 25px;
}

.b3{
    bottom: 13px;
    left: 10px;
}

.b3croix{
    transform: rotate(-45deg);
    bottom: 22.5px;
    left: 8px;
    width: 35px;
}

main{
    text-align: center;
}

.jules{
    margin: 40px;
    height: 300px;
    content: url(../img/jules.jpg);
}

.julesAnim{
    animation: dessin 3s linear forwards;
}

.julesAnim2{
    animation: dessin2 3s linear forwards;
}

.ligne2{
    display: block;
    line-height: 40px;
}

.lettre{
    font-size: 60px;
}

.lettreAnim{
    animation: lettre 3s ease-out infinite;
}

@keyframes lettre{
    0%{
        text-shadow: none;
    }

    50%{
        text-shadow: none;
        color: black;
    }

    75%{
        text-shadow: rgb(214, 33, 33) 0 0 10px;
        color: rgb(143, 55, 55);
    }

    100%{
        text-shadow: none;
        color: black;
    }
}

@keyframes dessin{
    0%{
        content: url(../img/jules.jpg)
    }

    10%{
        content: url(../img/gif1.gif)
    }

    100%{
        content : url(../img/jules4.jpg)
    }
}

@keyframes dessin2{
    0%{
        content: url(../img/jules4.jpg)
    }

    1%{
        content: url(../img/gif2.gif)
    }

    100%{
        content : url(../img/jules.jpg)
    }
}

/* MENU */

.menu{
    position: fixed;
    background: black;
    color: white;

    font-size: 20px;

    top: 0;
    bottom: 0;
    left: 25%;
    right: 0;

    z-index: 50;
    pointer-events: all;
    
    transform: translateX(100%);

    transition: 0.4s;
}

.menu a{
    text-decoration: none;
    color: white;
}

.texteMenu{
    padding: 60px 50px 10px;
}

.ligne{
    height: 2px;
    width: 50px;
    background: white;

    margin-left: 10px;
}

.croix{
    position: absolute;

    top: 20px;
    right: 20px;

    height: 30px;
    width: 30px;
}

.menuVisible{
    transform: translateX(0);
}

.filmMenu{
    position: fixed;

    background: rgba(0, 0, 0, 0.3);

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;

    transition: 0.4s;
}