@font-face{
    font-family: America;
    src: url(../fonts/America-Regular.otf);
}

body{
    margin: 0;
    font-family: Poppins;
    background: white;
}

h1{
    margin: 0;

    transition: 0.5s;
    font-weight: bold;

    transform: translateY(-15px);
}

h1 span{
    display: block;
    line-height: 15px;
}

header{
    padding: 10px 20px;
    display: flex;

    height: 55px;
    justify-content: space-between;
    align-items: center;

    background: rgb(0, 0, 0);
}

.nomPrenom{
    font-family: America;
    font-size: 30px;

    color: white;
}

.julesFlat .shad{
    opacity: 0;
}

.jules img:nth-child(3) {transition-delay: .4s;}
.jules img:nth-child(2) {transition-delay: .8s;}

#ligneSep{
    margin: 10px auto 0;

    background: black;

    height: 4px;
    width: 80px;

    border-radius: 2px;
}

#conteneurMetier{
    position: relative;

    margin-top: 13px;

    width: 100%;
    height: 45px;

    overflow: hidden;
}

.metier{
    position: absolute;
    font-size: 30px;

    width: fit-content;

    left: 50%;
    transform: translate(-50%, 40px);

    opacity: 0;

    animation: metier 8s infinite;
}

@keyframes metier {
    0%{
        transform: translate(-50%, 40px);
        opacity: 0;
    }

    3%{
        transform: translate(-50%, 0);
        opacity: 1;
    }

    22%{
        transform: translate(-50%, 0);
        opacity: 1;
    }

    25%{
        transform: translate(-50%, 40px);
        opacity: 0;
    }
}

.metier:nth-child(2) {animation-delay: 2s}
.metier:nth-child(3) {animation-delay: 4s}
.metier:nth-child(4) {animation-delay: 6s}

/* Montre */

.divMontre{
    position: absolute;
    overflow: hidden;

    bottom: 0px;

    height: 220px;
    width: 100%;
}

.montre{
    transform: translateY(300px);

    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px auto;
    width: 100px;
    height: 100px;

    border-radius: 50%;
    background: white;
    border: grey 7px solid;

    transition: 0.5s ease-in-out;

    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

.montreVisible{
    transform: translateY(0);

    opacity: 1;
}

.montre2{
    position: relative;

    width: 92px;
    height: 92px;

    border-radius: 50%;
    background: black;
}

.aiguille{
    transform-origin: 4px 4px;

    position: absolute;

    background: white;

    top: 42px;
    left: 42px;

    border-radius: 4px;

    transition: 2s cubic-bezier(.2,.49,.5,.94);
}

.heure{
    width: 8px;
    height: 30px;
}

.minutes{
    width: 40px;
    height: 8px;
}

.montreAlt .heure{
    width: 8px;
    height: 30px;

    transform: rotate(-360deg)
}

.montreAlt .minutes{
    width: 40px;
    height: 8px;

    transform: rotate(-720deg)
}

/* MENU */

.burgerAbsolu{
    position: fixed;

    right: 10px;
    top: 10px;

    height: 50px;
    width: 50px;

    border-radius: 50%;
    background: black;

    z-index: 60;
}

.barreBurger{
    position: absolute;

    width: 30px;
    height: 5px;

    background: white;

    border-radius: 25px;

    transition: .3s;
}

.b1{
    top: 13px;
    left: 10px;
}

.b2{
    top: 22.5px;
    left: 10px;
}

.b3{
    bottom: 13px;
    left: 10px;
}

.menuOuvert .b1{
    transform: translate(-2px, 10px) rotate(45deg);
    width: 35px;
}

.menuOuvert .b2{
    width: 0;
    transform: translateX(15px);

}

.menuOuvert .b3{
    transform: translate(-2px, -9px) rotate(-45deg);
    width: 35px;
}

main{
    text-align: center;
}

.jules{
    position: relative;

    margin: 40px auto;

    height: 302px;
    width: 220px;
}

.jules img{
    position: absolute;
    
    top: 0;
    left: 0;
    height: 302px;
    width: 220px;

    transition: .8s;
}

.menu{
    position: fixed;
    background: black;
    color: white;

    font-size: 20px;

    top: 0;
    bottom: 0;
    left: 25%;
    right: 0;

    z-index: 50;
    pointer-events: all;
    
    transform: translateX(100%);

    transition: .4s;
}

.menu a{
    text-decoration: none;
    color: white;
}

.texteMenu{
    padding: 60px 50px 10px;
}

.ligne{
    height: 2px;
    width: 50px;
    background: white;

    margin-left: 10px;
}

.croix{
    position: absolute;

    top: 20px;
    right: 20px;

    height: 30px;
    width: 30px;
}

.menuOuvert .menu{
    transform: translateX(0);
}

.film{
    transition: .4s;
}

.menuOuvert .film{
    position: fixed;

    background: rgba(0, 0, 0, .3);

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 1;
}